<section>
    <h3>Motivation</h3>
</section>
<section>
    <h4>Um was geht es?</h4>
    <ul>
        <li>Datendiebstahl</li>
        <li>Datenveränderung</li>
        <li>Computersabotage</li>
        <li>Computerbetrug</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Computersabotage und Computerbetrug bauen natürlich auf Datendiebstahl und Veränderung auf</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Internetnutzung</h4>
    <ul>
        <li>(fast) jeder nutzt das Internet</li>
    </ul>
    <img src="assets/grandma_internet_usage.jpg" height="400px" />
    <aside class="notes">
        <ul>
            <li>Ja, auch technisch nicht versierte Leute nutzen das Internet</li>
            <li>Daher können wir Security nicht auf den Nutzer abwälzen</li>
            <li>Web Anwendungen müssen sicher gebaut sein, um Nutzer vor Gefahren zu schützen</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Internetnutzung</h4>
    <ul>
        <li>Das Internet wird für (fast) alles verwendet</li>
        <li>Zum Beispiel:
            <ul>
                <li>Soziale Netzwerke</li>
                <li>Shopping</li>
                <li>Banking</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Besonders seit Corona läuft noch mehr online ab.</li>
            <li>Grade diese drei Beispiele sind besonders sicherheitskritisch.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Internetnutzung</h4>
    <ul>
        <li>Oft geht es um sicherheitskritische Daten</li>
        <li>Zum Beispiel:
            <ul>
                <li>Privatsphäre & Datenschutz</li>
                <li>Geld Transaktionen</li>
                <li>Identitätsdiebstahl</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Die meisten Datenleaks veröffentlichen private Daten. Es geht weniger um finanziellen Schaden, sondern häufig um Privatsphäre und Datenschutz</li>
            <li>Finanzieller Schaden ist bei veröffentlichten Daten nicht wirklich "messbar".</li>
            <li>Identitätsdiebstahl: Cryptomining unter Elon Musk posten</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Webanwendungen</h4>
    <ul>
        <li>Sind von überall erreichbar
            <ul>
                <li>Nicht wie ein Bankautomat</li>
            </ul>
        </li>
        <li>IT-Sicherheit ist keine Einstiegshürde
            <ul>
                <li>Jeder kann mit einem Tutorial einen Webshop schreiben</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Ein Angreifer kann bei einer Webanwendung überall auf der Welt sitzen</li>
            <li>Angreifer gehen in der Masse der Anfragen unter</li>
            <li>Service ist 24/7 verfügbar</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Unsichere Webanwendungen</h4>
    <ul>
        <li>Selbst die Größten sind nicht sicher</li>
        <li>Man hört immer wieder von Datenleaks oder Einbrüchen
            <ul>
                <li>Twitch</li>
                <li>Facebook</li>
                <li>etc.</li>
            </ul>
        </li>
        <li>Größere Webanwendungen sind attraktivere Ziele</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Größere Firmen landen mit ihren Datenleaks auch eher in den Medien</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Attraktive Ziele</h4>
    <ul>
        <li>Einige Ziele sind sehr attraktiv
            <ul>
                <li>Twitch</li>
                <li>Facebook</li>
                <li>Banken</li>
                <li>Passwortmanager</li>
            </ul>
        </li>
        <li>Dies liegt
            <ul>
                <li>An der Größe</li>
                <li>An den verwalteten Daten</li>
            </ul>
        </li>
        <li>Nicht lukrative Ziele müssen trotzdem sicher sein!</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Natürlich sind einige Ziele lukrativer als andere</li>
            <li>Trotzdem müssen alle Anwendungen über ein Mindestmaß an Sicherheit verfügen</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Nachteile von Security</h4>
    <ul>
        <li>Security bringt Nachteile mit sich</li>
        <li>Konkurriert mit der Benutzbarkeit
            <ul>
                <li>Zwei Faktor Authentifizierung (2FA)</li>
            </ul>
        </li>
        <li>Höhere Entwicklungskosten</li>
        <li>Komplexere Architektur</li>
        <li>Höherer Ressourcenverbrauch</li>
    </ul>
</section>
<section>
    <h4>Wie viel Sicherheit brauche ich?</h4>
    <ul>
        <li>"it depends"</li>
        <li>Es kommt an auf
            <ul>
                <li>Die Anforderungen</li>
                <li>Das Budget</li>
                <li>Die Domäne</li>
                <li>Rechtliche Rahmenbedingungen</li>
            </ul>
        </li>
        <li>Security ist eine Qualitätsanforderung</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>In einigen Bereichen wird Security direkt vom Kunden/Auftraggeber/Arbeitgeber angefordert</li>
            <li>Z.B. bei Banken ist Sicherheit sehr wichtig.</li>
            <li>Im Endeffekt ist Security eine Qualitätsanforderung.</li>
            <li>Jeder muss für seine Anwendung in einem gewissen Rahmen festlegen wie viel Security man braucht.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Mindestmaß an Security</h4>
    <ul>
        <li>Nicht immer die wichtigste Qualitätsanforderung</li>
        <li>Ein Mindestmaß muss vorhanden sein</li>
        <li>Dieses Mindestmaß schauen wir uns nun an</li>
    </ul>
</section>
