<section>
    <h3>Wie schreibe ich gute Unit Tests?</h3>
</section>
<section>
    <h4>Was sollten wir im Frontend testen?</h4>
    <ul>
        <li>Logik in unseren Components</li>
        <li>Dynamisches Rendering in Components</li>
        <li>Weitere Javascript Logik (TodoHttpClient)</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Natürlich sollten wir die Logik und das dynamische Rendering in unseren Components testen.</li>
            <li>Z.B werden die Daten gerendert, die ich hineingebe und es wird eine Callback aufgerufen, wenn ein Button gedrückt wird.</li>
            <li>Außerdem sollten wir jede weitere Javascript Logik testen. Wie z.B. ob unser TodoHttpClient die korrekten HttpCalls auslöst.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Wie sollten wir eine Component testen?</h4>
    <ul>
        <li>Nutzer interagieren mit Buttons und Textfeldern ...</li>
        <li>... nicht mit Javascript Funktionen</li>
        <li>Am besten immer End to End</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Nutzer interagieren üblicherweise mit dem HTML und nicht mit dem Javascript Code direkt.</li>
            <li>Unser Test sollte ebenfalls Events im HTML auslösen und nicht direkt die Javascript Funktionen aufrufen.</li>
            <li>Damit sind wir möglichst nahe an der Realität und wir vermeiden mehr Fehler.</li>
            <li>Z.B. könnte die Javascript Funktion korrekt funktionieren, sie wird aber nicht im HTML aufgerufen.</li>
            <li>End to End heißt dabei von den Eingabeparametern und anderen Schnittstellen der Component bis zum HTML und zurück.</li>            
            <li>Z.B. wird im HTML das angezeigt, was ich als Parameter hineingegeben habe?</li>
            <li>Z.B. wird der TodoHttpClient mit den richtigen Parametern aufgerufen, wenn der Save Button geklickt wurde?</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Testing mit JavaScript (Jasmine)</h4>
    <pre>
        <code class="javascript" data-line-numbers>describe('ich bin eine Beschreibung', () => {
    beforeAll(() => {});

    beforeEach(() => {});

    it('ich bin ein Test', () => {
        expect(actual).toEqual(expect) // quasi ein assert
    });

    afterEach(() => {});

    afterAll(() => {});
});</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>JavaScript Tests werden normalerweise mit Jasmine geschrieben.</li>
            <li>Wir arbeiten in React mit Jest, welches wiederum auf Jasmine aufsetzt und uns eine bequemere API bereitstellt.</li>
            <li>Jasmine liefert verschiedene Tools, um Tests strukturierter aufzubauen und einfacher zu gestalten.</li>
            <li>"describe" beschreibt einen Test und kann mehrere Tests logisch zusammenfassen.</li>
            <li>"beforeAll" bekommt eine Callback Function, die vor allen Tests in diesem "describe" Block ausgeführt wird.</li>
            <li>"beforeEach" bekommt eine Callback Function, die vor jedem Test in diesem "describe" Block ausgeführt wird.</li>
            <li>"it" ist ein einzelner Test. Er hat eine Beschreibung und eine Callback Function in der Testcode stehen sollte.</li>
            <li>"expect" ist quasi ein assert aus Java. Bietet einige Hilfsmethoden wie .toEqual() um das Testen zu vereinfachen.</li>
            <li>"afterEach" und "afterAll" erklären sich glaube ich selbst.</li>
        </ul>
    </aside>
</section>
<section>
    <h3>Sauberer Aufbau von JavaScript Tests</h3>
</section>
<section>
    <h4>Testbeschreibung</h4>
    <ul>
        <li>Sollte einem Schema folgen
            <ul>
                <li>Z.B. "Object ... should ... when"</li>
                <li>Gerne auch andere Schemas</li>
                <li>Viele gehen in ähnliche Richtung</li>
            </ul>
        </li>
        <li>Oft hilft es einen Satz zu bilden</li>
        <li>Testbeschreibung als lebende Doku</li>
    </ul>
    <pre>
        <code class="javascript" data-line-numbers>it('ComponentUnderTest should show element-card
            when element-data is not empty', () => {});</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Ein Schema sorgt dafür, dass sich andere Entwickler besser zurechtfinden. Und auch man selbst hat irgendwann vergessen, was hier in diesem Code passiert.</li>
            <li>Ein korrekter Satz als Testbeschreibung macht es oft einfacher den Testfall zu verstehen. Beim Schreiben von Textnachrichten, lassen wir auch nicht einfach irgendwelche Wörter weg.</li>
            <li>Über gute Testbeschreibungen kann man sehr gut erkennen, wie sich Components verhalten sollen und was ihre Aufgabe ist.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Testbeschreibung</h4>
    <ul>
        <li>Sollte wenig Duplizierungen enthalten</li>
        <li>Damit entsteht eine saubere Struktur</li>
    </ul>
    <pre>
        <code class="javascript" data-line-numbers>describe('ComponentUnderTest', () => {
  describe('updateData()', () => {
    it('should update data when data is not empty',
        () => {});

    it('should not update data when data is empty',
        () => {});

    ...
  });

  ...
});</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Indem wir die Testbeschreibung aufteilen und nicht duplizieren, sorgen wir automatisch dafür, dass unser Test eine gute Struktur erhält.</li>
            <li>Zusammengehörige Testfälle für z.B. eine Methode werden im gleichen describe zusammengefasst.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Single Responsibility Principle</h4>
    <ul>
        <li>Jeder Test sollte nur eine Sache testen
            <ul>
                <li>Am besten ein "expect" pro Test</li>
                <li>Macht es einfacher eine Testbeschreibung zu finden</li>
            </ul>
        </li>
        <li>Im Fehlerfall ist das Problem schneller erkannt</li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Wenn der Test nur eine Sache testet, ist im Fehlerfall schneller erkennbar, was kaputt ist. Denn es steht ja in der Testbeschreibung.</li>
            <li>Es kann natürlich auch passieren, dass der Test wegen des Setup Codes fehlschlägt, dieser Setup Code sollte allerdings auch in einem eigenen Test fehlschlagen.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Codeduplizierung (in Tests)</h4>
    <ul>
        <li>Ist ein kontroverses Thema</li>
        <li>Kann trotzdem vermieden werden</li>
        <li>Setup Code kann in "beforeEach"/"beforeAll"</li>
        <li>Parametrisierte Tests
            <ul>
                <li>Gleicher Test mit unterschiedlichen Parametern</li>
                <li>Weniger Codeduplizierung</li>
            </ul>
        </li>
    </ul>
    <pre>
        <code class="javascript" data-line-numbers>it.each([
  {input: 'input1', expected: 'expected1'},
  {input: 'input2', expected: 'expected2'},
  ...
])('should to something', ({input, expected}) => {
   // code for testing
});</code>
    </pre>
    <aside class="notes">
        <ul>
            <li>Einige Entwickler sehen Codeduplizierung im Test nicht als Problem.</li>
            <li>Manchmal kann es mehr Übersichtlichkeit schaffen, Code und Daten zu duplizieren.</li>
            <li>Z.B. kann man Testdaten über mehrere Tests nutzen. Manche Tests wären einfacher zu verstehen, wenn die Testdaten direkt im Test stehen würden.</li>
            <li>Trotzdem gibt es gute Gründe und auch Mechanismen, um Codeduplizierung im Test zu vermeiden.</li>
            <li>Setup Code ist oft dupliziert und sollte daher in entsprechende Blöcke ausgelagert werden.</li>
            <li>Parametrisierte Tests helfen, wenn der Testcode dupliziert wird.</li>
        </ul>
    </aside>
</section>
<section>
    <h4>Reproduzierbar</h4>
    <ul>
        <li>Tests müssen reproduzierbar sein</li>
        <li>"date.now()"?
            <ul>
                <li>Produktivcode ist abhängig vom aktuellen Datum</li>
                <li>Testcode muss damit auch vom aktuellen Datum abhängig sein</li>
                <li>Typischer Aprilscherz</li>
            </ul>
        </li>
    </ul>
    <aside class="notes">
        <ul>
            <li>Tests müssen immer laufen, egal was der Kontext ist in dem sie sich befinden.</li>
            <li>Tests können fehlschlagen, wenn sich das Datum ändert und der Testfall statische Daten anstatt dynamischen verwendet.</li>
            <li>Bei uns sind mal Tests am ersten April gefailed. Hier hat sich ein Entwickler einen Spaß erlaubt.</li>
        </ul>
    </aside>
</section>
